authoryear displays year with unneeded suffix

This MWE has two entries by the same editor (without author for the same year). The displayed year in the bibliograph shows the distinction criteria (a, b) even though the month displayed is unique. Tested with biblatex `3.15a`.

	\documentclass{scrreprt}
	\usepackage[
		backend=biber,
		sortlocale=auto,
		defernumbers=false,     % we don't need continous numbers for the bibliography
		citestyle=authoryear,
		maxcitenames=3,
		citetracker=false,
		ibidtracker=false,
		idemtracker=false,
		opcittracker=false,
		minnames=3,
		bibstyle=authoryear,
		maxbibnames=99,
		url=true,               % print URL and access date
		doi=false,              % print DOI
		eprint=false,           % don't print eprint
		dashed=false,           % don't replace repeated authors by dash lines
	]{biblatex}
	\usepackage{hyperref}

	% in foot cite year in paranthesis
	\renewbibmacro*{cite:labeldate+extradate}{%
		\iffieldundef{labelyear}%
		{}%
		{%
			\printtext[bibhyperref]{%
				\mkbibparens{\printlabeldateextra}%
			}%
		}%
	}

	% add a section like header to the bibliography with the same key we have in the cite
	\renewbibmacro*{begentry}{%
		\begingroup
		\textbf{
			\printnames{labelname}%
			\setunit{\addspace}%
			% reuse layout from cite
			\usebibmacro{cite:labeldate+extradate}%
		}
		\endgroup \\
	}

	\begin{filecontents}[overwrite]{\jobname.bib}
	@TechReport{RFC0760,
		institution  = {RFC Editor},
		title        = {DoD standard Internet Protocol},
		doi          = {10.17487/rfc0760},
		language     = {en},
		number       = {760},
		pagetotal    = {42},
		type         = {RFC},
		url          = {https://tools.ietf.org/html/rfc760},
		editor       = {Jon Postel},
		howpublished = {Internet Requests for Comments},
		issn         = {2070-1721},
		month        = {1},
		publisher    = {RFC Editor},
		year         = {1980},
	}
	@TechReport{RFC0768,
		institution  = {RFC Editor},
		title        = {User Datagram Protocol},
		doi          = {10.17487/RFC0768},
		language     = {en},
		number       = {768},
		pagetotal    = {3},
		type         = {RFC},
		url          = {https://rfc-editor.org/rfc/rfc768.txt},
		editor       = {Jon Postel},
		howpublished = {Internet Requests for Comments},
		issn         = {2070-1721},
		month        = {8},
		publisher    = {RFC Editor},
		year         = {1980},
	}
	@TechReport{RFC0791,
		institution  = {RFC Editor},
		title        = {Internet Protocol},
		doi          = {10.17487/RFC0791},
		language     = {en},
		number       = {791},
		pagetotal    = {45},
		type         = {RFC},
		url          = {https://www.rfc-editor.org/rfc/rfc791.txt},
		editor       = {Jon Postel},
		howpublished = {Internet Requests for Comments},
		issn         = {2070-1721},
		month        = {9},
		publisher    = {RFC Editor},
		year         = {1981},
	}
	@TechReport{RFC1338,
		author       = {Fuller, Vincent and Li, Tony and Yu, Jessica and Varadhan, Kannan},
		institution  = {RFC Editor},
		title        = {Supernetting: an Address Assignment and Aggregation Strategy},
		doi          = {10.17487/rfc1338},
		language     = {en},
		number       = {1338},
		pagetotal    = {20},
		type         = {RFC},
		url          = {https://rfc-editor.org/rfc/rfc1338.txt},
		howpublished = {Internet Requests for Comments},
		issn         = {2070-1721},
		month        = {6},
		publisher    = {RFC Editor},
		year         = {1992},
	}
	@WWW{RIPE2019,
		author   = {{RIPE NCC}},
		date     = {2019-08-23},
		title    = {What is IPv4 Run Out?},
		url      = {https://www.ripe.net/manage-ips-and-asns/ipv4/ipv4-run-out},
		urldate  = {2020-10-11},
		urltime  = {14:57},
	}
	\end{filecontents}

	\addbibresource{\jobname.bib}

	\begin{document}
		Some reference\footcite[See][]{RFC0791} and specifically\footcite[See][p. 2]{RFC0791}.
		Some reference\footcite[See][]{RFC0760} and specifically\footcite[See][p. 2]{RFC0768}.
		Also interesting.\footcite[See][]{RFC1338} Another reference\footcite[See][]{RIPE2019}.

		\printbibliography
	\end{document}

This produces:

## Bibliography

### Fuller, Li, Yu, and Varadhan (1992)
Fuller, Vincent, Tony Li, Jessica Yu, and Kannan Varadhan (June 1992). Supernet-
ting: an Address Assignment and Aggregation Strategy. en. RFC 1338. RFC Editor.
20 pp. url: https://rfc-editor.org/rfc/rfc1338.txt.

### Postel (1980a)
DoD standard Internet Protocol (Jan. 1980a). en. RFC 760. RFC Editor. 42 pp.
url: https://tools.ietf.org/html/rfc760.

### Postel (1980b)
User Datagram Protocol (Aug. 1980b). en. RFC 768. RFC Editor. 3 pp. url: https:
//rfc-editor.org/rfc/rfc768.txt.

### Postel (1981)
Internet Protocol (Sept. 1981). en. RFC 791. RFC Editor. 45 pp. url: https :
//www.rfc-editor.org/rfc/rfc791.txt.

### RIPE NCC (2019)
RIPE NCC (Aug. 23, 2019). What is IPv4 Run Out? url: https://www.ripe.
net/manage-ips-and-asns/ipv4/ipv4-run-out (visited on 10/11/2020).

----

The expected result would have been ` (Jan. 1980)` and `(Aug. 1980)` :

----

## Bibliography

### Fuller, Li, Yu, and Varadhan (1992)
Fuller, Vincent, Tony Li, Jessica Yu, and Kannan Varadhan (June 1992). Supernet-
ting: an Address Assignment and Aggregation Strategy. en. RFC 1338. RFC Editor.
20 pp. url: https://rfc-editor.org/rfc/rfc1338.txt.

### Postel (1980a)
DoD standard Internet Protocol (Jan. 1980). en. RFC 760. RFC Editor. 42 pp.
url: https://tools.ietf.org/html/rfc760.

### Postel (1980b)
User Datagram Protocol (Aug. 1980). en. RFC 768. RFC Editor. 3 pp. url: https:
//rfc-editor.org/rfc/rfc768.txt.

### Postel (1981)
Internet Protocol (Sept. 1981). en. RFC 791. RFC Editor. 45 pp. url: https :
//www.rfc-editor.org/rfc/rfc791.txt.

### RIPE NCC (2019)
RIPE NCC (Aug. 23, 2019). What is IPv4 Run Out? url: https://www.ripe.
net/manage-ips-and-asns/ipv4/ipv4-run-out (visited on 10/11/2020).



This is expected behaviour.

First of all, the behaviour sort of makes sense when we are talking about *unmodified* `authoryear` style. The citation label uses only the year, so we need the `extradate` letter as soon as there are two works (by the same labelname) from the same year (regardless of the month). That letter needs to be reflected in the bibliography as well, so readers can match citation labels to bibliography entries. With the default `mergedate` settings, the month is mentioned in the bibliography as well, so you may get to see unique month+year combinations with the additional letter.

If the letter were not repeated, you'd have trouble matching the citations in the following example
```latex
\documentclass{article}
\usepackage[
  backend=biber,
  style=authoryear,
]{biblatex}
\usepackage{hyperref}


\begin{filecontents}{\jobname.bib}
@TechReport{RFC0760,
  institution  = {RFC Editor},
  title        = {DoD standard Internet Protocol},
  doi          = {10.17487/rfc0760},
  language     = {english},
  number       = {760},
  pagetotal    = {42},
  type         = {RFC},
  url          = {https://tools.ietf.org/html/rfc760},
  author       = {Jon Postel},
  howpublished = {Internet Requests for Comments},
  issn         = {2070-1721},
  month        = {1},
  publisher    = {RFC Editor},
  year         = {1980},
}
@TechReport{RFC0768,
  institution  = {RFC Editor},
  title        = {User Datagram Protocol},
  doi          = {10.17487/RFC0768},
  language     = {english},
  number       = {768},
  pagetotal    = {3},
  type         = {RFC},
  url          = {https://rfc-editor.org/rfc/rfc768.txt},
  author       = {Jon Postel},
  howpublished = {Internet Requests for Comments},
  issn         = {2070-1721},
  month        = {8},
  publisher    = {RFC Editor},
  year         = {1980},
}
\end{filecontents}

\addbibresource{\jobname.bib}

\begin{document}
  \autocite{RFC0760,RFC0768}

  \printbibliography
\end{document}
```

Note that you can get slightly different output if you play with the `mergedate` option. But no matter what you do with that option: You're going to see the `extradate` letter somewhere, because it is necessary if you want to be able to uniquely identify the citations.

---

In your case, you don't really need to repeat the `extradate` letter in the bibliography, because you are already repeating the citation label, which contains it. In that case you can easily tell `biblatex` not to print the letter by using `\print...date` instead of `\print...dateextra` in `date+extradate`.

```latex
\documentclass{article}
\usepackage[
  backend=biber,
  style=authoryear,
  minnames=3,
  maxcitenames=3,
  maxbibnames=99,
  citetracker=false,
  ibidtracker=false,
  idemtracker=false,
  opcittracker=false,
  url=true,
  doi=false, 
  eprint=false,
  dashed=false,
]{biblatex}
\usepackage{hyperref}

% in foot cite year in parenthesis
\renewbibmacro*{cite:labeldate+extradate}{%
  \iffieldundef{labelyear}%
    {}
    {\printtext[bibhyperref]{%
       \mkbibparens{\printlabeldateextra}}}}

\renewbibmacro*{begentry}{%
  \textbf{%
    \printnames{labelname}%
    \setunit{\addspace}%
    % reuse layout from cite
    \usebibmacro{cite:labeldate+extradate}%
  }\\
}

\renewbibmacro*{date+extradate}{%
  \iffieldundef{labelyear}
    {}
    {\printtext[parens]{%
       \iflabeldateisdate
         {\printdate}
         {\printlabeldate}}}}

\begin{filecontents}{\jobname.bib}
@TechReport{RFC0760,
  institution  = {RFC Editor},
  title        = {DoD standard Internet Protocol},
  doi          = {10.17487/rfc0760},
  language     = {english},
  number       = {760},
  pagetotal    = {42},
  type         = {RFC},
  url          = {https://tools.ietf.org/html/rfc760},
  editor       = {Jon Postel},
  howpublished = {Internet Requests for Comments},
  issn         = {2070-1721},
  month        = {1},
  publisher    = {RFC Editor},
  year         = {1980},
}
@TechReport{RFC0768,
  institution  = {RFC Editor},
  title        = {User Datagram Protocol},
  doi          = {10.17487/RFC0768},
  language     = {english},
  number       = {768},
  pagetotal    = {3},
  type         = {RFC},
  url          = {https://rfc-editor.org/rfc/rfc768.txt},
  editor       = {Jon Postel},
  howpublished = {Internet Requests for Comments},
  issn         = {2070-1721},
  month        = {8},
  publisher    = {RFC Editor},
  year         = {1980},
}
@TechReport{RFC0791,
  institution  = {RFC Editor},
  title        = {Internet Protocol},
  doi          = {10.17487/RFC0791},
  language     = {english},
  number       = {791},
  pagetotal    = {45},
  type         = {RFC},
  url          = {https://www.rfc-editor.org/rfc/rfc791.txt},
  editor       = {Jon Postel},
  howpublished = {Internet Requests for Comments},
  issn         = {2070-1721},
  month        = {9},
  publisher    = {RFC Editor},
  year         = {1981},
}
@TechReport{RFC1338,
  author       = {Fuller, Vincent and Li, Tony and Yu, Jessica and Varadhan, Kannan},
  institution  = {RFC Editor},
  title        = {Supernetting: an Address Assignment and Aggregation Strategy},
  doi          = {10.17487/rfc1338},
  language     = {english},
  number       = {1338},
  pagetotal    = {20},
  type         = {RFC},
  url          = {https://rfc-editor.org/rfc/rfc1338.txt},
  howpublished = {Internet Requests for Comments},
  issn         = {2070-1721},
  month        = {6},
  publisher    = {RFC Editor},
  year         = {1992},
}
@WWW{RIPE2019,
  author   = {{RIPE NCC}},
  date     = {2019-08-23},
  title    = {What is IPv4 Run Out?},
  url      = {https://www.ripe.net/manage-ips-and-asns/ipv4/ipv4-run-out},
  urldate  = {2020-10-11},
  urltime  = {14:57},
}
\end{filecontents}

\addbibresource{\jobname.bib}

\begin{document}
  Some reference\footcite[See][]{RFC0791} and specifically\footcite[See][2]{RFC0791}.
  Some reference\footcite[See][]{RFC0760} and specifically\footcite[See][2]{RFC0768}.
  Also interesting.\footcite[See][]{RFC1338} Another reference\footcite[See][]{RIPE2019}.

  \printbibliography
\end{document}
```



Not really related to your query, but note that the labels in the bibliography don't always match the citation labels in the footnotes.

```latex
\documentclass{article}
\usepackage[
  backend=biber,
  style=authoryear,
  minnames=3,
  maxcitenames=3,
  maxbibnames=99,
  citetracker=false,
  ibidtracker=false,
  idemtracker=false,
  opcittracker=false,
  url=true,
  doi=false, 
  eprint=false,
  dashed=false,
]{biblatex}
\usepackage{hyperref}

% in foot cite year in paranthesis
\renewbibmacro*{cite:labeldate+extradate}{%
	\iffieldundef{labelyear}%
	{}%
	{%
		\printtext[bibhyperref]{%
			\mkbibparens{\printlabeldateextra}%
		}%
	}%
}

% add a section like header to the bibliography with the same key we have in the cite
\renewbibmacro*{begentry}{%
	\begingroup
	\textbf{
		\printnames{labelname}%
		\setunit{\addspace}%
		% reuse layout from cite
		\usebibmacro{cite:labeldate+extradate}%
	}
	\endgroup \\
}


\renewbibmacro*{date+extradate}{%
  \iffieldundef{labelyear}
    {}
    {\printtext[parens]{%
       \iflabeldateisdate
         {\printdate}
         {\printlabeldate}}}}

\begin{filecontents}[overwrite]{\jobname.bib}
@TechReport{RFC1338,
  author       = {Fuller, Vincent and Li, Tony and Yu, Jessica and Varadhan, Kannan},
  institution  = {RFC Editor},
  title        = {Supernetting: an Address Assignment and Aggregation Strategy},
  doi          = {10.17487/rfc1338},
  language     = {english},
  number       = {1338},
  pagetotal    = {20},
  type         = {RFC},
  url          = {https://rfc-editor.org/rfc/rfc1338.txt},
  howpublished = {Internet Requests for Comments},
  issn         = {2070-1721},
  month        = {6},
  publisher    = {RFC Editor},
  year         = {1992},
}
\end{filecontents}

\addbibresource{\jobname.bib}

\begin{document}
  Also interesting.\footcite[See][]{RFC1338}

  \printbibliography
\end{document}
```

```latex
\begin{advertising}
```
Getting these things right is a bit tricky. If you don't want to have to roll your own code for this, you may be interested in my `biblatex-ext` bundle and in particular its `introcite` option. (`biblatex-ext` also makes it easier to add parentheses around the year in `\footcite`.)
```latex
\documentclass{article}
\usepackage[
  backend=biber,
  style=ext-authoryear,
  minnames=3,
  maxcitenames=3,
  maxbibnames=99,
  introcite=plain,
  autocite=footnote,
  url=true,
  doi=false, 
  eprint=false,
  dashed=false,
]{biblatex}
\usepackage{hyperref}

\DeclareInnerCiteDelims{footcite}{\bibopenparen}{\bibcloseparen}

\DeclareFieldFormat{bbx@introcite}{\mkbibbold{#1}}
\renewcommand*{\introcitepunct}{\\}

\DeclareInnerCiteDelimsAlias{bbx@introcite}{footcite}

% no need for the extradate label in the bibliography with introcite
\renewbibmacro*{date+extradate}{%
  \iffieldundef{labelyear}
    {}
    {\printtext[parens]{%
       \iflabeldateisdate
         {\printdate}
         {\printlabeldate}}}}

\begin{filecontents}[overwrite]{\jobname.bib}
@TechReport{RFC0760,
  institution  = {RFC Editor},
  title        = {DoD standard Internet Protocol},
  doi          = {10.17487/rfc0760},
  language     = {english},
  number       = {760},
  pagetotal    = {42},
  type         = {RFC},
  url          = {https://tools.ietf.org/html/rfc760},
  editor       = {Jon Postel},
  howpublished = {Internet Requests for Comments},
  issn         = {2070-1721},
  month        = {1},
  publisher    = {RFC Editor},
  year         = {1980},
}
@TechReport{RFC0768,
  institution  = {RFC Editor},
  title        = {User Datagram Protocol},
  doi          = {10.17487/RFC0768},
  language     = {english},
  number       = {768},
  pagetotal    = {3},
  type         = {RFC},
  url          = {https://rfc-editor.org/rfc/rfc768.txt},
  editor       = {Jon Postel},
  howpublished = {Internet Requests for Comments},
  issn         = {2070-1721},
  month        = {8},
  publisher    = {RFC Editor},
  year         = {1980},
}
@TechReport{RFC0791,
  institution  = {RFC Editor},
  title        = {Internet Protocol},
  doi          = {10.17487/RFC0791},
  language     = {english},
  number       = {791},
  pagetotal    = {45},
  type         = {RFC},
  url          = {https://www.rfc-editor.org/rfc/rfc791.txt},
  editor       = {Jon Postel and Jane Hostel and Julia Vostel and Elizabeth Rostel},
  howpublished = {Internet Requests for Comments},
  issn         = {2070-1721},
  month        = {9},
  publisher    = {RFC Editor},
  year         = {1981},
}
@TechReport{RFC1338,
  author       = {Fuller, Vincent and Li, Tony and Yu, Jessica and Varadhan, Kannan},
  institution  = {RFC Editor},
  title        = {Supernetting: an Address Assignment and Aggregation Strategy},
  doi          = {10.17487/rfc1338},
  language     = {english},
  number       = {1338},
  pagetotal    = {20},
  type         = {RFC},
  url          = {https://rfc-editor.org/rfc/rfc1338.txt},
  howpublished = {Internet Requests for Comments},
  issn         = {2070-1721},
  month        = {6},
  publisher    = {RFC Editor},
  year         = {1992},
}
@WWW{RIPE2019,
  author   = {{RIPE NCC}},
  date     = {2019-08-23},
  title    = {What is IPv4 Run Out?},
  url      = {https://www.ripe.net/manage-ips-and-asns/ipv4/ipv4-run-out},
  urldate  = {2020-10-11},
  urltime  = {14:57},
}
\end{filecontents}

\addbibresource{\jobname.bib}

\begin{document}
  Some reference\autocite[See][]{RFC0791} and specifically\autocite[See][2]{RFC0791}.
  Some reference\autocite[See][]{RFC0760} and specifically\autocite[See][2]{RFC0768}.
  Also interesting.\autocite[See][]{RFC1338} Another reference\autocite[See][]{RIPE2019}.

  \printbibliography
\end{document}
```
```latex
\end{advertising}
```

I'll take your comments on TeX.SX as saying that this issue is resolved, so I'll close this. If I missed something, feel free to comment below, then we can discuss reopening this issue.